<h1>Welcome to Home page of covid information</h1>
<button onclick = "window.location.href = 'http://localhost:3736/employee'">Employee Detail</button>
<button onclick = "window.location.href = 'http://localhost:3736/child'">Child</button>
<button onclick = "window.location.href = 'http://localhost:3736/parent'">Parent</button>
<button onclick = "window.location.href = 'http://localhost:3736/dashboard'">Dashboard</button>
<!-- <button onclick = "onClick()">Dashboard</button> -->


<router-outlet></router-outlet>

